<div class="container">
    <div class="header">
        <div class="pic">
            <div class="pic-overlay">&nbsp;</div>
            <img src="{{ data.photolink }}" />
        </div>
        <h3>
            <span>{{ data.name }}</span>
        </h3>
    </div>
    <div class="details">
        <h4>
            <img src="{{ data.icon }}" />{{ data.types[0].replace('_', ' ') }}
        </h4>
        <p><i class="material-icons md-18 red">room</i> {{ data.vicinity }}</p>
    </div>
    <div class="footer">
        <p>
            <span class="val">{{ data.rating }}</span>
            <span class="text"
                ><span class="material-icons yellow"> star </span>({{
                    data.user_ratings_total
                }})</span
            >
        </p>
        <a
            target="_blank"
            href="https://www.google.com/maps/search/?api=1&query={{
                data.geometry.location.lat
            }},{{ data.geometry.location.lng }}&query_place_id={{
                data.place_id
            }}"
            >Details</a
        >
    </div>
</div>
