.header {
    position: relative;
    .pic {
        position: relative;
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
        clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 98%);
        height: 22rem;
        .pic-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: -webkit-gradient(
                linear,
                left top,
                right bottom,
                from(#7dd56f80),
                to(#28b487)
            );
            background-image: linear-gradient(
                to right bottom,
                #7dd56f80,
                #28b487
            );
            opacity: 0.7;
        }
        img {
            -o-object-fit: cover;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    h3 {
        font-size: 2rem;
        text-align: right;
        position: absolute;
        bottom: 1rem;
        right: 2rem;
        width: 70%;
        z-index: 10;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;

        span {
            padding: 1rem 1.5rem;
            line-height: 1;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
            background-image: -webkit-gradient(
                linear,
                left top,
                right bottom,
                from(rgba(125, 213, 111, 0.85)),
                to(rgba(40, 180, 135, 0.85))
            );
            background-image: linear-gradient(
                to bottom right,
                rgba(125, 213, 111, 0.85),
                rgba(40, 180, 135, 0.85)
            );
        }
    }
}
.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1.75rem;
    grid-column-gap: 2rem;
    padding: 2.5rem 3rem;
    h4 {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 700;
        grid-column: 1 / -1;
        grid-column-start: 1;
        grid-column-end: -1;

        img {
            width: 20px;
            margin-right: 10px;
        }
    }
    p {
        grid-column: 1 / -1;
        font-size: 1.5rem;
        font-style: italic;
        margin-top: -1rem;
        margin-bottom: 0.75rem;
    }
}
.footer {
    background-color: #f7f7f7;
    padding: 2.5rem 3rem;
    border-top: 1px solid #f1f1f1;
    font-size: 1.4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-top: auto;
    p {
        grid-row: 2 / 3;
        .val {
            font-weight: 700;
        }
        .text {
            color: #999;
        }

        .text {
            span {
                font-size: 20px;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
    a {
        grid-row: 1 / 3;
        justify-self: end;
        -ms-flex-item-align: center;
        align-self: center;
        font-size: 1.6rem;
        padding: 1.4rem 3rem;
        border-radius: 10rem;
        text-transform: uppercase;
        display: inline-block;
        text-decoration: none;
        position: relative;
        -webkit-transition: all 0.4s;
        transition: all 0.4s;
        font-weight: 400;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border: none;
        cursor: pointer;
        background-color: #55c57a;
        color: #fff;
        padding: 1.25rem 3rem !important;
        font-size: 1.4rem !important;
    }
}
.yellow {
    color: #ffbc00cf;
}
.red {
    color: rgb(243, 75, 75);
}
.md-18 {
    font-size: 18px;
}
