<div class="container">
    <div id="filter">
        <div>
            <input (keyup.enter)="onKey($event)" placeholder="Kerko" />
        </div>
        <div>
            <button (click)="onSelect('restaurant')">
                <i class="material-icons md-20">local_cafe</i>
            </button>
            <button (click)="onSelect('lodging')">
                <i class="material-icons md-20">hotel</i>
            </button>
            <button (click)="onSelect('tourist_attraction')">
                <i class="material-icons md-20">local_see</i>
            </button>
        </div>
    </div>
    <div class="main">
        <div class="cardcontainer">
            <app-location *ngFor="let data of datas" [data]="data" class="card">
            </app-location>
        </div>
    </div>
</div>
