.container {
    line-height: 1.6;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    color: #777;

    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .main {
        background-color: #f7f7f7;
        padding: 8rem 6rem;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        position: relative;

        .cardcontainer {
            max-width: 120rem;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 7rem;

            .card {
                border-radius: 3px;
                overflow: hidden;
                -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
                box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.1);
                background-color: #fff;
                -webkit-transition: 0.3s all;
                transition: 0.3s all;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
            }
        }
    }
}
#filter {
    background-color: #444;
    padding: 0 5rem;
    height: 8rem;
    position: relative;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    input {
        font-family: 'Quicksand', 'Source Sans Pro', -apple-system,
            BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
            sans-serif;
        display: block;
        font-weight: 200;
        font-size: 35px;
        color: #35495e;
        letter-spacing: 1px;
        text-transform: capitalize;
        margin: 5px 0px;
        padding-left: 20px;
    }
    button {
        border-radius: 25px;
        font-weight: 200;
        border: none;
        cursor: pointer;
        background-color: #55c57a;
        color: #fff;
        font-size: 20px !important;
        margin: 0 10px;
        padding: 12px 15px;
        outline: none;
    }
    button:active {
        background-color: #444;
    }
    button:hover {
        border-radius: 15px;
        transition: border-radius 1s;
    }
}

.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-20 {
    font-size: 20px;
}
.material-icons.md-24 {
    font-size: 24px;
}
